body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    pointer-events: none;
    /* 让点击穿透到 3D 场景 */
}

a {
    color: #ff0;
}

#status {
    color: #0f0;
    font-weight: bold;
}